


<div class='col-sm-6 col-sm-offset-3'>

<form method='GET' action=''>
<input type='text' name='q' placeholder='Search repository' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
         {{obj.name}}
      <!--<div class="caption">-->
        <!--{% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}-->
        <!--<h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>-->
        <!--{% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}-->
        <!--<p>{{ obj.content|linebreaks|truncatechars:120 }}</p>-->
        <!--<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>-->
      <!--</div>-->
    </div>
  </div>
<hr/>
</div>
{% endfor %}






</div>

