
{% extends "base.html" %}

{% block content %}

<!--<div class='col-sm-6 col-sm-offset-3'>

<form method='GET' action=''>
<input type='text' name='q' placeholder='Search repository' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
         <a href="{% url 'repository:view' obj.id %}">{{obj.name}}</a>

    </div>
  </div>
<hr/>
</div>
{% endfor %}

</div>-->


<form method='GET' action=''>
<input type='text' name='q' placeholder='Search repository' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>
 <div class="row">
                    <div class="col-lg-6">
                         <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Repository</th>

                                    </tr>
                                </thead>
                                <tbody>
                                  {% for obj in object_list %}
                                    <tr class="active">
                                        <td> <a href="{% url 'repository:view' obj.id %}">{{obj.name}}</a></td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
     </div>

{% endblock content %}
